# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda
target/

# Secret ENV variables, otherwise injected via Travis CI secrets
.MAIL_MESSAGES_TO